/* Resetting default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bcb9b9; /* Light gray background */
    color: #333; /* Dark gray font color */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #a39e9e; /* White container background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #333; /* Dark gray navigation background */
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #c4bcbc; /* White navigation text */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    background-color: #333; /* Dark gray footer background */
}

footer p {
    font-size: 14px;
    color: #969494; /* White footer text */
}